In [1]:
import sqlite3
import pandas as pd

In [2]:
# Load CSV

df = pd.read_csv("StoreData.csv")

In [3]:
# Create Sql DB in memory

conn = sqlite3.connect(":memory:")

In [10]:
# Save dataframe as SQL table

df.to_sql("Superstore", conn, index=False, if_exists= "replace")

9994

In [11]:
# Top 5 Products by Sales

query1 = """
SELECT [Product Name], SUM(Sales) AS TotalSales
FROM Superstore
GROUP BY [Product Name]
ORDER BY TotalSales DESC
LIMIT 5
"""
print(pd.read_sql(query1, conn))

                                        Product Name  TotalSales
0              Canon imageCLASS 2200 Advanced Copier   61599.824
1  Fellowes PB500 Electric Punch Plastic Comb Bin...   27453.384
2  Cisco TelePresence System EX90 Videoconferenci...   22638.480
3       HON 5400 Series Task Chairs for Big and Tall   21870.576
4         GBC DocuBind TL300 Electric Binding System   19823.479

In [12]:
# Sales by Region

query2 = """
SELECT Region, SUM(Sales) AS TotalSales
FROM Superstore
GROUP BY Region
ORDER BY TotalSales DESC
"""
print(pd.read_sql(query2, conn))

    Region   TotalSales
0     West  725457.8245
1     East  678781.2400
2  Central  501239.8908
3    South  391721.9050